@media screen and (min-width: 425px) {
	nav h1 a{
		font-size: 18px;
	}
	#restaurant-name{
		font-size: 21pt;
	}
	body, td, th, p{
		font-size: 16px;
	}
}

@media screen and (min-width: 668px) {
	nav h1 a{
		font-size: 30px;
	}

	.filter-options select {
		width: 300px;
	}

	.filter-options select:first-child{
  		margin-right: 24px;
	}

	.filter-options select:last-child{
  		margin-left: 24px;
	}
}

:focus, :link:focus, :visited:focus {
    outline: 5px solid purple !important;


}

#mainView{
	display: flex;
	flex-wrap: wrap;
}

#selView{
	display: inline-flex;
	width: 100%;
}

.inside main{
	display: flex;
	flex-wrap: wrap;
}

.skip-link{
	position: absolute;
	top: -40px;
	left: 0;
	background: purple;
	color: gold !important;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus{
	top: 0;
}

/*skip-link class from Udacity video on focus*/

/*@media screen and (min-width: 1200px){
	#restaurant-list{
		width: 
	}
}*/